body {
  font-family: 'Raleway', sans-serif;
  background-color: rgb(122, 29, 0);
}
button {
  font-family: 'Raleway', sans-serif;
}
#dice {
  display: flex;
  font-family: 'Raleway', sans-serif;
}
#top-section {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}
.die {
  padding: 0;
  margin: 5px;
  border: 2px solid black;
  width: 40px;
  height: 40px;
  background-color: white;
  z-index: 1;
}
#roll-btn {
  width: 80px;
}
.die.active {
  border: 2px solid rgb(255, 0, 0);
}
.score-div {
  padding: 5px;
  width: 150px;
  border: 1px solid black;
  border-left: none;
}
.score-span {
  padding: 5px;
  width: 100px;
  border: 1px solid black;
  border-right: none;
  text-align: center;
}
#top-section:nth-child(2) {
  border-top: 2px solid black;
}
#bottom-score {
  border-top: 2px solid black;
}
#title {
  font-size: 18px;
  margin: 5px;
  text-align: center;
}
#bottom-score {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  width: fit-content;
}
#reset-btn {
  margin: 10px;
}
#rollSpan {
  padding: 2px;
}
#roll-wrap {
  margin-top: 10px;
  float: right;
  text-align: center;
  width: 80px;
}
#card {
  border: 2px solid black;
  width: 272px;
  min-width: 272px;
  background-color: white;
  box-shadow: 5px 8px 16px 0px rgba(0, 0, 0, 0.4);
}
.totals {
  padding: 4px;
  width: 100%;
  border-top: 2px solid black;
}
#controls {
  background-color: white;
  margin: 5px;
  width: fit-content;
  padding: 5px;
  border: 2px solid black;
  height: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}
#page-wrap {
  display: flex;
}

@media (max-width: 630px) {
    #page-wrap {
      flex-direction: column;
    }
    #controls {
      margin-left: 0;
    }
  }

@media only screen and (max-device-width: 480px) {
  body {
    margin-top: 2px;
  }
  #page-wrap {
    flex-direction: column;
  }
  #controls {
    margin-left: 0;
  }
}