#dice {
  display: flex;
}
#scorecard {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  width: 425px;
}
.die {
  padding: 10px;
  margin: 5px;
  border: 1px solid black;
}
#roll-btn {
  width: 100px;
}
.die.active {
  background-color: lightblue;
  border: 1px solid yellow;
}
.score-div {
  padding: 5px;
  margin-bottom: 2px;
  width: 200px;
  border: 1px solid black;
}
.score-span {
  padding: 5px;
  margin-bottom: 2px;
  width: 200px;
  border: 1px solid black;
}
#title {
  font-size: 18px;
}
#total {
  margin-left: 50px;
}
#bottom-score {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  width: 425px;
}
#reset-btn {
  margin-top: 5px;
}
#roll-div {
  margin-top: 5px;
}